{% load static %}
        <!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gift Share!</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
  <div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    <a href="/register/">Register</a>
    <a href="/gifts/">My Gift List</a>
    <a href="/user/">Gift Search</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <div id='main'>
    {% block content %}{% endblock content %}
  </div>
</body>
</html>